
	<main>
        <style>
            table th{
                font-size: 13px;
            }
            td{
                font-size: 11px;
            }
            h3{
                display: flex;
                justify-content: space-around;
            }
        </style>
		
		<section>
			<div class="container">
				<div class="row">
					<div class="col-xl-3 col-md-3 col-12 col">
						<div class="tg-widget tg-catagories">
							<div class="tg-widgettitle">
								<h3>Categories</h3>
							</div>
							<div class="tg-widgetcontent">
								<ul>
									<li><a href="/updateProduct"><span>Update product</span></a></li>
									<li><a href="/delProduct"><span>Delete product</span></a></li>
									<li><a href="/addProduct"><span>Add product</span></a></li>
									<li><a href="/userManage"><span>User manage</span></a></li>
								</ul>
							</div>
						</div>
					</div>

                    <div class="col-xl-9 col-md-9 col-12 col">
                        <h3>ADMIN PAGE</h3>
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
                                <table class="table table-bordered user-manage">

                                    
                                </table>
                            </div>
                        </div>  
                    </div>   
                </div>
            </div>
        </section>

    </main>