    <header>
        <div class="top-bar"></div>
        <div class="container header-container">
            <div class="row">
                <div class="col-3 header-left">
                    <a href="/home"><img src="/image/logo2.png"></a>
                </div>

                <div class="col-6 d-flex align-items-center header-center">
                    <form class="input-group search-form">
                        <input class="form-control" type="search" placeholder="Search here">
                        <button class="" type="submit"><i class="icofont-search"></i></button>
                    </form>
                </div>
                <div class="col d-flex align-items-center justify-content-end header-right">
                    <a class="btn button-signup" href="/signup" type="submit">Register</a>
                    <a class="btn rounded-pill btn-danger button-signin" href="/login">Login</a>
                </div>
            </div>
        </div>

        <div class="header-menu">
            <div class="container">
                <div class="row">
                    <ul class="nav nav-justified menu">
                        <li class="nav-item">
                            <a class="nav-link active" href="/home" color="black">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="/product">
                                All categories
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/product">All products</a></li>
                                <li><a class="dropdown-item" href="/IT">IT</a></li>
                                <li><a class="dropdown-item" href="/Detective">Detective</a></li>
                                <li><a class="dropdown-item" href="/Education">Educatioin</a></li>
                                <li><a class="dropdown-item" href="/Psychology">Psychology</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Best selling</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Something</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <main>

        <section class="best-selling">
            <div class="container main-container">
                <div class="head-bestselling">
                    <div class="head-bestselling--left">
                        <p>Best selling books</p>
                    </div>
                    <div class="head-bestselling--right">
                        <button><i class="icofont-simple-left"></i></button>
                        <button><i class="icofont-simple-right"></i></button>
                    </div>
                    
                </div>
                <div class="content-bestselling">
                    <div>
                        <img src="/image/book/basic-eng-grammar-in-use.png">
                        <div class="content-bestselling--Category">
                            <label>Education</label>
                        </div>
                        
                        <div class="book-name">
                            <p>Basic english grammar in<br>use</p>
                        </div>
                        <p class="author">By: The Windy</p>
                        <p class="price">$18.18</p>
                        <button class="add-to-cart">
                            <div class="add-to-cart--part">
                                <i class="icofont-cart"></i>
                                <p>Add to cart</p>
                            </div>
                        </button>
                    </div>
                    <div>
                        <img src="/image/book/hacker-luocsu.png">
                        <div class="content-bestselling--Category">
                            <label>Education, history, IT</label>
                        </div>
                        <div  class="book-name">
                            <p>Hacker history<br><br></p>
                        </div>
                        <p class="author">By: Steven Levy</p>
                        <p class="price">$20.18</p>
                        <button class="add-to-cart">
                            <div class="add-to-cart--part">
                                <i class="icofont-cart"></i>
                                <p>Add to cart</p>
                            </div>
                        </button>
                    </div>
                    <div>
                        <img src="/image/book/doi-cothat-nhatnheo-haydota-vovi.png">
                        <div class="content-bestselling--Category">
                            <label>Psychology</label>
                        </div>
                        <div  class="book-name">
                            <p>Is life really boring or is it<br>because we are tasteless?</p>
                        </div>
                        <p class="author">By: Yoo Eun Jung</p>
                        <p class="price">$15.18</p>
                        <button class="add-to-cart">
                            <div class="add-to-cart--part">
                                <i class="icofont-cart"></i>
                                <p>Add to cart</p>
                            </div>
                        </button>
                    </div>
                    <div>
                        <img src="/image/book/ki-luat-tu-giac.png">
                        <div class="content-bestselling--Category">
                            <label>Educatioin, Psychology</label>
                        </div>
                        <div class="book-name">
                            <p>Self-discipline<br><br></p>
                        </div>
                        
                        <p class="author">By: Tiểu Dã</p>
                        <p class="price">$13.15</p>
                        <button class="add-to-cart">
                            <div class="add-to-cart--part">
                                <i class="icofont-cart"></i>
                                <p>Add to cart</p>
                            </div>
                        </button>
                    </div>
                    <div>
                        <img src="/image/book/nganh-it-co-gi-hot.png">
                        <div class="content-bestselling--Category">
                            <label>IT</label>
                        </div>
                        <div  class="book-name">
                            <p>What's hot in the IT industry?<br><br></p>
                        </div>
                        <p class="author">By: Spiderum</p>
                        <p class="price">$21.18</p>
                        <button class="add-to-cart">
                            <div class="add-to-cart--part">
                                <i class="icofont-cart"></i>
                                <p>Add to cart</p>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
            
        </section>

        <section class="p-container">
            <a><img src="/image/slideShow/festival.png"></a>
        </section>

        <section class="topic-thinking">
            <div class="p-container thinking-container">
                <div class="topic-thinking--left">
                    <div class="topic-thinking--left__head">
                        <p>Thinking books - life skills</p>
                    </div>
                    <div class="topic-thinking--left__main">
                        <p>In daily life, we often get angry for many reasons: work<br>is not going well, we are angry; misunderstood by others,<br>we get angry; When we see something unpleasant, we<br>get angry; public opinion is unacceptable, we get angry...<br>
                            And there are times when you will wonder why you keep<br>trying and not getting the results you want? Why are you<br>so busy every day that you don't get anything? And ask<br>your best friend again: Have you really tried, or just<br> thought you were trying?...</p>
                        <button>Read more</button>
                    </div>
                </div>
                <div class="topic-thinking--right">
                    <div>
                        <img src="/image/book/khongaicothelamtonthuongban.png">
                        <div class="content-bestselling--Category">
                            <label>Category</label>
                        </div>
                        
                        <div class="book-name">
                            <p>No one can hurt you<br>unless you allow it</p>
                        </div>
                        <p class="author">By: Yoo Eun Jung</p>
                        <p class="price">$25.18</p>
                        <button class="add-to-cart">
                            <div class="add-to-cart--part">
                                <i class="icofont-cart"></i>
                                <p>Add to cart</p>
                            </div>
                        </button>
                    </div>
                    <div>
                        <img src="/image/book/am-anh-so-xa-hoi.png">
                        <div class="content-bestselling--Category">
                            <label>Category</label>
                        </div>
                        <div  class="book-name">
                            <p>Social phobia<br><br></p>
                        </div>
                        <p class="author">By: Lý Thế Cường</p>
                        <p class="price">$20.18</p>
                        <button class="add-to-cart">
                            <div class="add-to-cart--part">
                                <i class="icofont-cart"></i>
                                <p>Add to cart</p>
                            </div>
                        </button>
                    </div>
                    <div>
                        <img src="/image/book/doi-cothat-nhatnheo-haydota-vovi.png">
                        <div class="content-bestselling--Category">
                            <label>Category</label>
                        </div>
                        <div  class="book-name">
                            <p>Is life really boring or is it<br>because we are tasteless?</p>
                        </div>
                        <p class="author">By: Yoo Eun Jung</p>
                        <p class="price">$15.18</p>
                        <button class="add-to-cart">
                            <div class="add-to-cart--part">
                                <i class="icofont-cart"></i>
                                <p>Add to cart</p>
                            </div>
                        </button>
                    </div>
                    <div>
                        <img src="/image/book/ki-luat-tu-giac.png">
                        <div class="content-bestselling--Category">
                            <label>Category</label>
                        </div>
                        <div class="book-name">
                            <p>Self-discipline<br><br></p>
                        </div>
                        
                        <p class="author">By: Tiểu Dã</p>
                        <p class="price">$13.15</p>
                        <button class="add-to-cart">
                            <div class="add-to-cart--part">
                                <i class="icofont-cart"></i>
                                <p>Add to cart</p>
                            </div>
                        </button>
                    </div>
                </div>





            </div>
        </section>
        
        <section class="topic-detective">
            <div class="p-container detective-container">
                <div class="topic-detective--left">
                    <div>
                        <img src="/image/book/an-mang-muoi-mot-chu.png">
                        <div class="content-bestselling--Category">
                            <label>Detective, Horrible</label>
                        </div>
                        
                        <div class="book-name">
                            <p>11 word murder<br><br></p>
                        </div>
                        <p class="author">By: Higashino Keigo</p>
                        <p class="price">$25.18</p>
                        <button class="add-to-cart">
                            <div class="add-to-cart--part">
                                <i class="icofont-cart"></i>
                                <p>Add to cart</p>
                            </div>
                        </button>
                    </div>
                    <div>
                        <img src="/image/book/chuoi-an-mang-abc.png">
                        <div class="content-bestselling--Category">
                            <label>Detective</label>
                        </div>
                        <div  class="book-name">
                            <p>Series of murders A.B.C<br><br></p>
                        </div>
                        <p class="author">By: Agatha Christie</p>
                        <p class="price">$20.18</p>
                        <button class="add-to-cart">
                            <div class="add-to-cart--part">
                                <i class="icofont-cart"></i>
                                <p>Add to cart</p>
                            </div>
                        </button>
                    </div>
                    <div>
                        <img src="/image/book/bach-da-hanh.png">
                        <div class="content-bestselling--Category">
                            <label>Detective, Horrible</label>
                        </div>
                        <div  class="book-name">
                            <p>Bach Da Hanh<br><br></p>
                        </div>
                        <p class="author">By: Higashino Keigo</p>
                        <p class="price">$15.18</p>
                        <button class="add-to-cart">
                            <div class="add-to-cart--part">
                                <i class="icofont-cart"></i>
                                <p>Add to cart</p>
                            </div>
                        </button>
                    </div>
                    <div>
                        <img src="/image/book/an-mang-tiec-halloween.png">
                        <div class="content-bestselling--Category">
                            <label>Detective</label>
                        </div>
                        <div class="book-name">
                            <p>Murder in the Halloween<br>party</p>
                        </div>
                        
                        <p class="author">By: Agatha Christie</p>
                        <p class="price">$19.15</p>
                        <button class="add-to-cart">
                            <div class="add-to-cart--part">
                                <i class="icofont-cart"></i>
                                <p>Add to cart</p>
                            </div>
                        </button>
                    </div>
                </div>
                <div class="topic-detective--right">
                    <div class="topic-detective--right__head">
                        <p>Detective books</p>
                    </div>
                    <div class="topic-detective--right__main">
                        <p>Detective novels (Crime Fiction) are always sitting in the line of<br> 
                           the best-selling literary novels on the market, but have you ever<br>
                           wondered what a detective novel is and why it is so popular? In<br>
                           these books, let's explore the detective story genre as it attracts<br>
                           millions of readers.</p>
                        <button>Read more</button>
                    </div>
                    
                </div>
            </div>
        </section>

        <section class="signup-for-newsletter">
            <div class="p-container newsletter">
                <div class="newsletter-left">
                    <label>Sign up for our Newsletter</label>
                    <p>Tell us what books you love</p>
                </div>

                <div class="newsletter-right">
                    <button>SIGN UP</button>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <div class="container footer-container">
            <div class="row">
                <div class="col-6 footer-left">
                    <ul>
                        <li class="footer-left--logo">
                            <i class="icofont-bootstrap"></i>
                            <p>Book Store</p>
                        </li>
                        <li class="footer-left--address">
                            <i class="icofont-spreadsheet"></i>
                            <em>227 Nguyen Van Cu, Ward 4, District 5, Ho Chi Minh City</em>
                        </li>
                        <li class="footer-left--phone">
                            <i class="icofont-phone"></i>
                            <em>0360 808 080</em>
                        </li>
                        <li class="footer-left--email">
                            <i class="icofont-email"></i>
                            <em>kathonflag@gmail.com</em>
                        </li>
                        <li class="footer-left--social">
                            <p>Follow us: </p>
                            <a href="#"><i class="icofont-facebook"></i></a>
                            <a href="#"><i class="icofont-instagram"></i></a>
                        </li>
                    </ul>
                </div>

                <div class="col-3 footer-center">
                    <p>Shipping</p>
                    <ul>
                        <li><a href="#">Terms of use</a></li>
                        <li><a href="#">Terms of Sale</a></li>
                        <li><a href="#">Returns</a></li>
                        <li><a href="#">Privacy</a></li>
                        <li><a href="#">Cookies</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>

                <div class="col-3 footer-right">
                    <p>Information</p>
                    <ul>
                        <li><a href="#">Our Story</a></li>
                        <li><a href="#">Meet Our Team</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Testimonials</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="copyRight">
            <p class="copyRight-line1 d-flex align-items-center justify-content-around">A library of Book Store</p>
            <p class="copyRight-line2 d-flex align-items-center justify-content-around">Copyright © 2022—2023, The book selling website made by team 2.</p>
        </div>
    </footer>
{{!-- </body>


</html> --}}